* {
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* titlebar css */
.apptext {
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}



.titlebar {
    position: fixed;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    animation: fade-in 3s ease forwards;
    background-color: rgb(var(--topbar-color) / var(--topbar-opacity))
    
}

.draggable {
    display: flex;
    padding: 5pt;
    justify-content: space-between;
    user-select: none;
    -webkit-app-region: drag;
}

.nodrag {
    -webkit-app-region: no-drag;
}

.center-elements {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contentArea {
    user-select: none;
    position: fixed;
    top: 30px;
    left: 110px;
    width: 100%;
    height: 100%;
}


.downbar {
    background: var(--downbar-color);
    opacity: var(--downbar-opacity);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    user-select: none;
}

.icon-sm {
    width: 18px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }


  
.collx {
    top: -2px;
    position: relative;
    color: rgb(219, 219, 219);
    font-family: 'Quicksand', sans-serif;
}

.center img,
.center a {
    display: inline-block;
}


.container1 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	opacity: 0;
    animation: fade-in 3s ease forwards;
}

.container2 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	opacity: 0;
	animation: fade-in 3s ease forwards;
	animation-delay: 1s;
}

.container3 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 187vh;
	opacity: 0;
	animation: fade-in 3s ease forwards;
	animation-delay: 2s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

  
:root {
  /*  --background-image: url('../icons/app/Background.svg'); */
    --bg-color: #101010;
    --text-color: #f6f5f5;
    --button-color: rgb(36, 36, 36);
    --button-text-color: #f6f5f5;
    --button-opacity: 1;
    --button-border-color: rgb(110, 110, 110);
    --ul-bg-color: #282828;
    --ul-opacity: 0.5;
    --downbar-color: #3D75C9;
    --selected-item-color: #37373788;
    --selected-item-opacity: 1;
    --downbar-opacity: 1;
    --topbar-color: 0 0 0;
    --topbar-opacity: 0.6;
}