* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  overflow:hidden;
}

body {
	background-color: #000;
	color: #fff;
	font-family: Impact, sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	opacity: 0;
	animation: fade-in 5s ease forwards;
}

.container2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	opacity: 0;
	animation: fade-in 5s ease forwards;
	animation-delay: 5s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
